<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/js/audio.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- <input id="audio_file" type="file" accept="audio/*" /> -->
    <!-- <audio control id="audio_player" /> -->
    <p>
        <video id="video_player" width="400" controls>
</video>
    </p>
    <!-- Load Video file:
    <input id="video_file" type="file" accept="video/*" /> -->
</body>

</html>