<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include ('partials/head.html')%>
</head>

<body>
    <%- include ('partials/navigation.html')%>

        <div class="sqs-block-content" style="margin: 0 auto;">
            <h1 class="page-title text-center text-white" data-shrink-original-size="72" id="contact" style="letter-spacing: 0.0972222em;">Contact</h1>
        </div>
        <div class="col-lg-12 text-center mt-4 text-white animated zoomIn">
            <h3>Follow us @Terrorifica</h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore beatae ducimus eos repellat quasi, facilis nobis? Consectetur aliquam eum deserunt fugiat odio quo modi. Laudantium fuga facilis sed cumque dolores!
        </div>
        <div class="row bg-dark col-lg-14 text-white rounded mt-4 text-center fixed-bottom">
            <div style="justify-content: space-between; font-size: 1.8rem; ">
                <a href="https://es-es.facebook.com/Terrorificacr/?ref=page_internal" class="fa fa-facebook "></a>
                <a href="# " class="fa fa-twitter "></a>
                <a href="https://www.youtube.com/channel/UCwnS7672VQFcOosPcH4zQCw" class="fa fa-youtube "></a>
                <a href="# " class="fa fa-instagram "></a>
                <a href="https://terrorifica.bandcamp.com/releases?fbclid=IwAR2-tLQ3VytpFimgWAX759aaQBwR2i5x51DqzmAvXMj2EbQed1MhbdWOY7s" class="fa fa-bandcamp text-white"></a>
            </div>
        </div>

        <%- include ('partials/footer.html')%>

</body>

</html>